#container{
    width: 1024px;
    margin: auto;
    border: 1px solid;

}
.menu-wrapper{

    display: flex;
    justify-content: space-between;
}

#logo{

    font-size: xx-large;

    font-style: normal;
    
    font-family: inherit
}
.logo {

    text-transform: capitalize;

}


body{
    margin: 0;
    padding: 0;
    background: blue;
}
